<html lang="en">
    <body> 
       <button type="addcoursedetails" class="btn btn-primary" >STUDENT ATTENDENCE DETAILS</button>  
    <table class="border" border="1">
    <thead class="font" >
        <tr>
        <th>Studentname</th>
        <th>Rollno</th>
        <th>Professorname</th>
        <th>DateofBirth</th>
        <th>Phonenumber</th>
        <th>Rgnumber</th>
        <th>Attendence</th>
        <th>Edit</th>
        <th>Delete</th>
        </tr>
    </thead>
    <tbody class="tbody" class="text-center" >
        <tr *ngFor="let text of texts | filter : searchtext">
            <td>
                <div class="hide">
                 {{text.Studentname}}
                </div>
               
            </td>
            <td>
                <div class="hide" >
                    {{text.Rollno}}
                </div>
              
            </td>
            <td>
                <div class="hide">
                    {{text.Professorname}}
                </div>
               
            </td>
            <td>
                <div class="hide" >
                    {{text.DateofBirth}}
                </div>
              
            </td>
    
    
            <td>
                <div class="hide">
                    {{text.Phonenumber}}
                </div>
              
            </td>
    
            <td>
                <div class="hide" >
                    {{text.Rgnumber}}
                </div>
            </td>
    
            <td>
                <div class="hide">
                    {{text.Attendence}}
                </div>
              
            </td>
            <td>
                <div class="hide" >
                <button class="btn1"  >Edit</button>
                
    
            </div>
            </td>
            <td>
                <div class="hide">
                    <button class="btn2" >Delete</button>
                </div>
            </td>
       
          
        </tr> 
    
    </tbody>
    
    
    </table>
    
  
    
    </body>
    </html>
    
    
    