<div class="container">
<body class="body">
 
    
    <h1 class="h1">STUDENT ATTENDENCE FORM</h1>

    
    <table class="table"  >
        <tr>
            <td><label class="label" for="Studentname">Studentname</label> </td>
            <td><input class="input" type="text" placeholder="Enter studentname here" [(ngModel)]="Studentname"></td>
        </tr>
       
        <tr>
            <td><label  class="label" for="Studentrollno">Rollno</label> </td>
            <td><input class="input" type="text" placeholder="Enter studentrollno here"  [(ngModel)]="Rollno" ></td>
        </tr>
        
        <tr>
            <td><label  class="label" for="Proffesorname">Professorname</label> </td>
            <td><input class="input" type="text" placeholder="Enter proffesorname here"  [(ngModel)]="Professorname" ></td>
        </tr>
        <tr>
            <td> <label class="label" for="">Date Of Birth</label> </td>
            <td><input class="input" type="date"  [(ngModel)]="DateofBirth" ></td>
        </tr>
        <tr>
            <td> <label class="label" for="">Phonenumber</label> </td>
            <td><input class="input" type="phonenumber"  [(ngModel)]="Phonenumber"></td>
        </tr>
        <tr>
            <td> <label class="label" for="">Rg.number</label> </td>
            <td><input class="input" type="Rg.number"  [(ngModel)]="Rgnumber"></td>
        </tr>

        <tr>
        <label class="label" for="">Attendence</label>
        <td>
        <select class="input" [(ngModel)]="Attendence" >
        <option value=""></option>
        <option value="">Attended</option>
        <option value="">Not attended</option>
        <option value="">Student is not there in class</option>
    </select>
    </td>
    </tr>
    </table>
    <br>
    <button class="btn" (click)="onSubmit()" type="submit" value="login">Save</button>

    <br>
    
   
</body>
</div>

